.kdev4/
*.txt
!CMakeLists.txt
!msys2-build-deps.txt
!msys2-dll-deps.txt
#build*
.kdev_include_paths
*.xmi
*.kdev*
.dir*
*.orig
build
qrc_resources.cpp
debug/
release/
*.debug
*.depends
*.release
*.user
Makefile
/MSVC/
/MSVC_2/
/deb/
.vs/
/MSVC.bak
/MSVC.bak2
/MSVC.bak3
/CMakeSettings.json
/external/mpv-x64
/.clang-format
bak/
.cache
compile_commands.json
