.kdev4/
*.txt
!CMakeLists.txt
!msys2-build-deps.txt
!msys2-dll-deps.txt
.kdev_include_paths
*.xmi
*.kdev*
.dir*
*.orig
build
qrc_resources.cpp
debug/
release/
*.debug
*.depends
*.release
*.user
compile_commands.json
Makefile
/deb/
.vs/
.cache/
/MSVC/
/MSVC_2/
/MSVC.bak
/MSVC.bak2
/MSVC.bak3
bak/
/external/mpv-x64
/CMakeSettings.json
/CMakePresets.json
/CMakeUserPresets.json
/cpp.hint
